@import "styles/theme/light.module";
.root{
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  text-align: center;
  border: 2px solid $light--base--color--gray;
  cursor: pointer;
}
.root:hover{
  @include border-red();
}
.selected{
  border-color: $light--base--color--red !important;
}