.root{
  background: #fff;
  border-bottom: 1px solid #dddd;
  font-size: 12px;
}
.header_box{
  position: relative;
  height: 140px;
  width: 990px;
  margin: 0 auto;
}

.logo{
  position: absolute;
  width: 190px;
  height: 120px;
  left: 0;
  top: 10px;
  img{
    display: block;
    width: 190px;
  }
}


.navitems{
  overflow: hidden;
  position: absolute;
  left: 203px;
  bottom: 0;
  vertical-align: text-bottom;
  height: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 14px;
}
.navitems ul, .navitems a{
  float: left;
}
.navitems a{
  margin-left: 12px;
  color: #666666;
}
.navitems a:hover{
  color: #e1251b;
}

@font-face {
  font-family: 'iconfont';  /* Project id 3994610 */
  src: url('//at.alicdn.com/t/c/font_3994610_gylp4sdbk3.woff2?t=1680525011779') format('woff2'),
  url('//at.alicdn.com/t/c/font_3994610_gylp4sdbk3.woff?t=1680525011779') format('woff'),
  url('//at.alicdn.com/t/c/font_3994610_gylp4sdbk3.ttf?t=1680525011779') format('truetype');
}
.iconfont{
  font-family: "iconfont", serif !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;}