.root{
  position: relative;
}
.seckill{
  height: 260px;
  margin-bottom: 20px;
}
.seckill_inner{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  height: 100%;
  width: 990px;
}
.countdown{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 100%;
  background-image: url("https://storage.360buyimg.com/channel2022/jd_home/0.0.13/assets/img/4a15d8883775742e3efbb850ae14def7.png");
}
.countdown_tit{
  width: 100%;
  height: 45px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  margin-top: 31px;
}
.countdown_desc{
  height: 26px;
  margin-bottom: 10px;
  width: 100%;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.countdown_desc strong{
  font-size: 18px;
  display: inline-block;
  padding-right: 2px;
}
.countdown_time{
  //display: flex;
  //flex-direction: row;
  align-items: center;
  width: 130px;
  height: 30px;
  margin-bottom: 40px;
}
.countdown_hour, .countdown_min, .countdown_sec{
  display: inline-block;
  font-size: 20px;
  background-color: #333;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  //margin: 0 auto;
}
.countdown_dot{
  content: ":";
  display: inline-block;
  width: 20px;
  height: 100%;
  text-align: center;
  color: #fff;
}
.seckill_list{
  width: 610px;
  height: 100%;
  margin-right: 10px;
}
.seckill_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 203.33px;
  height: 100%;
  text-align: center;
  background-color: #fff;
}
.seckill_item img{
  height: 140px;
  width: 140px;
  margin-top: 30px;
}
.seckill_item h6{
  display: block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 13px auto;
  color: #333;
  font-size: 12px;
  font-weight: 400;
}
.seckill_item span{
  margin: 7px auto;
  font-size: 12px;
  color: #e1251b;
  font-weight: 700;
}
.seckill_brand{
  width: 170px;
  height: 100%;
  padding: 10px;
}
.brand_item{
  display: block;
  height: 100%;
  width: auto;
}
.brand_item img{
  display: block;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  width: 120px;
  height: 120px;
}
.item_info{
  width: 170px;
  height: 90px;
  background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));
  margin-top: 10px;
}
.brand_tit{
  text-align: center;
  font-size: 14px;
  color: #666;
}
.brand_promo{
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  color: #333;
}
.item_info_action{
  display: block;
  margin-top: 4px;
  margin-right: auto;
  margin-left: auto;
  width: 76px;
  height: 22px;
  border: 1px solid #e1251b;
  border-radius: 14px;
  line-height: 22px;
  font-size: 12px;
  color: #e1251b;
  text-align: center;
  font-weight: 700;
}
