.addrInfo{
  display: inline-block;
  height: 24px;
  line-height: 24px;
  border: 1px solid #CECBCE;
  color: #666;
  margin-top: 2px;
}
.addr{
  display: inline-block;
  margin-left: 3px;
  margin-right: 15px;
}