@import "styles/theme/light.module";
.root{
  padding: 10px;
}
.imgPosition{
  width: 450px;
  height: 450px;
  position: relative;
}
.bigImg{
  display: block;
  width: 450px;
  height: 450px;
}
.imgPreview{
  position: absolute;
  right: -450px;
  top: -450px;
  width: 800px;
  height: 800px;
}
.imgList{
  display: flex;
  justify-content: center;
}
.imgSpan{
  display: inline-block;
  width: 58px;
  height: 58px;
  border: 1px solid $light--base--color--deepGray;
  margin: 0 10px;
}
.imgList span:hover{
  border-color: $light--base--color--red;
}
.smallImg{
  display: inline-block;
  height: 58px;
  width: 58px;
}

.selected{
  border: 1px solid $light--base--color--red;
}