.root{

}
.topNav{
  height: 40px;
  line-height: 40px;
}
.topNav span{
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 auto;
}
.attrNav{
  background-color: #fff;
  margin-bottom: 10px;
  border-top: 1px solid #DDD;
}
.brand{
  display: flex;
  justify-content: left;
  height: 120px;
  border-bottom: 1px solid #DDD;
}
.attrKey{
  display: inline-block;
  background-color: #f3f3f3;
  width: 114px;
}
.attrKey span{
  display: block;
  height: 100%;
  padding-left: 5px;
  line-height: 34px;
  font-weight: bold;
}
.category{
  min-height: 34px;
  display: flex;
  justify-content: left;
}
.categoryValue{
  display: flex;
  justify-content: left;
}
.valueList{
  display: flex;
  justify-content: left;
  width: 740px;
}
.valueList li{
  display: inline-block;
  color: #005aa0;
  width: 130px;
  line-height: 34px;
}
.valueList li:first-child{
  padding-left: 5px;
}
.valueMore{
  width: 115px;
}
.moreBtn{
  display: inline-block;
  width: 52px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #ddd;
  margin-top: 3px;
}
.moreBtn:first-child{
  margin-right: 5px;
}
.moreBtn:hover{
  color: #e1251b;
}