.root{

}
.topNav{
  height: 40px;
  line-height: 40px;
}
.topNav span{
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
  margin: 0 auto;
}
.loading{
  text-align: center;
  font-size: 20px;
  color: #e1251b;
  height: 100px;
  line-height: 100px;
}
.goodsList{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 20px;
  height: auto;
}
.goodsItem{
  width: 288px;
  margin-top: 10px;
  margin-right: 40px;
  border: 1px solid #fff ;
}
.goodsItem:hover{
  border: 1px solid #DDD;
}
.goodsWarp{
  padding: 9px 12px;
}
.goodsImg{
  display: block;
}
.goodsImg img{
  display: block;
  margin: 0 auto;
}
.goodsScroll{
  height: 30px;
}
.psItem{
  display: inline-block;
  width: 34px;
  border: 1px solid #DDD;
  margin-left: 10px;
}
.psItem img{
  width: 100%;
}
.psItem:hover{
  border-color: #e1251b;
}
.phonePrice{
  height: 22px;
  color: #e1251b;
  font-size: 20px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.phonePrice span{
  font-size: 16px;
}
.phoneTitle{
  height: 40px;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}
.phoneCommits{
  height: 18px;
  margin-bottom: 9px;
}
.phoneCommits span{
  color: #646fb0;
  font-family: Verdana, serif;
  font-weight: 700;
}
.phoneStore{
  height: 18px;
  margin-bottom: 9px;
}