$light--base--color--while: #fff;
$light--base--color--gray: #f3f3f3;
$light--base--color--deepGray: #e3e4e5;
$light--base--color--red: #e1251b;
$light--base--color--deepRed: #c81623;
$background--color--gray: #f4f4f4;
$light--base--font--color: #fff;
$light--link--font--color: #999;
$light--base--color--black: #333;