.chooseAmount{
  display: flex;
  justify-content: left;
  width: 58px;
  height: 44px;
  border: 1px solid #ccc;
}
.numInput{
  width: 42px;
  height: 42px;
  border: 0;
  text-align: center;
  line-height: 42px;
}
.changeBtn{
  width: 16px;
  height: 22px;
  border: 1px solid #ccc;
  background: #f1f1f1;
}