.valueMore{
  width: 115px;
}
.moreBtn{
  display: inline-block;
  width: 52px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border: 1px solid #ddd;
  margin-top: 3px;
}
.moreBtn:first-child{
  margin-right: 5px;
}
.moreBtn:hover{
  color: #e1251b;
}