@import "styles/theme/light.module";
.root{
  height: 30px;
  background-color: $light--base--color--deepGray;
  font-size: 12px;
  line-height: 30px;
  width: 100%;
  color: $light--link--font--gray;
  border-bottom: 1px solid #ddd;
}
.root .w{
  display: flex;
  justify-content: space-between;
  width: 990px;
  margin: 0 auto;
}
.addr{
  padding-left: 10px;
}

.root .fr{
  a{
    margin-left: 5px;
    margin-right: 5px;
  }
}