.category{
  min-height: 34px;
  display: flex;
  justify-content: left;
}
.categoryValue{
  display: flex;
  justify-content: left;
}
.valueList{
  display: flex;
  justify-content: left;
  width: 740px;
}
.attrKey{
  display: inline-block;
  background-color: #f3f3f3;
  width: 114px;
}
.attrKey span{
  display: block;
  height: 100%;
  padding-left: 5px;
  line-height: 34px;
  font-weight: bold;
}
.valueList li{
  display: inline-block;
  color: #005aa0;
  width: 130px;
  line-height: 34px;
}
.valueList li:first-child{
  padding-left: 5px;
}
