@import "styles/theme/light.module";
.root{
  padding-bottom: 20px;
}
.title{
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-family: "Microsoft YaHei", serif;
}
.checkout{
  background-color: $light--base--color--white;
  padding: 0 20px;
  border: 1px solid $light--base--color--gray;
}
.checkBox{

}
.checkTitle{
  display: flex;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
}
.checkTitle h5{
  color: $light--base--color--black;
}
.checkTitle span{
  color: $light--base--color--link--blue;
}
.hr{
  border-bottom: 1px solid $light--hr--color--gray;
  height: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ps{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.payWay i{
  margin-left: 10px;
}
.deliveryItem{
  display: flex;
  justify-content: left;
}
.fp{
  margin-bottom: 10px;
}
.fp span{
  margin-right: 20px;
}
.fpType{
  padding-left: 20px;
}
.fp span:last-child{
  color: $light--base--color--link--blue;
}
