.root{
  background: #fff;
}
.topTitle{
  display: flex;
  justify-content: space-between;
  height: 40px;
}
.chooseNum{
  width: 118px;
  height: 43px;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  line-height: 43px;
  color: #e1251b;
}
.express{
  width: 210px;
  height: 26px;
  line-height: 40px;
}
.express span{
  line-height: 26px;
  margin-right: 5px;
}
.cartTop{
  height: 32px;
  line-height: 32px;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  margin-bottom: 15px;
}
.checkAll{
  margin: 0 5px;
}
.tit1{
  margin-left: 3px;
  margin-right: 10px;
}
.tit2{
  margin-left: 90px;
  margin-right: 400px;
}
.tit3{
  margin-right: 90px;
}
.tit4{
  margin-right: 90px;
}
.tit5{
  margin-right: 60px;
}
.listBottomFix{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.flexBet{
  display: flex;
  justify-content: space-between;
}
.listBottom{
  display: flex;
  justify-content: space-between;
  height: 52px;
  line-height: 52px;
  border: 1px solid #e9e9e9;
}
.cartCarOpts a{
  margin-right: 10px;
}
.cleanCart{
  font-weight: 700;
  color: #666;
}
.settlement{
  display: flex;
  justify-content: right;
}
.goodSelection{
  height: 20px;
  margin-right: 10px;
}
.goodSelection span{
  display: inline-block;
  margin: 0 3px;
  color: #e1251b;
  font-weight: 700;
}
.totalPrice{
  font-size: 16px;
  color: #e2231a;
  font-family: Verdana, serif;
  font-weight: 700;
  margin-right: 20px;
}
.goSett{
  display: inline-block;
  width: 94px;
  height: 52px;
  text-align: center;
  background: #e2231a;
  font-size: 20px;
  color: #FFFFFF;
  font-weight: 700;
}
.goSett:hover{
  background: #df3033;
  color: #fff;
}